[submodule "geofabric/osp_raster"]
	path = geofabric/osp_raster
	url = git@github.com:seelabutk/osp_raster.git
[submodule "geofabric/rapidjson"]
	path = geofabric/rapidjson
	url = git@github.com:Tencent/rapidjson.git
