[submodule "geofabric/rapidjson"]
	path = geofabric/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "geofabric/quesadillas"]
	path = geofabric/quesadillas
	url = git@github.com:hunterprice04/quesadillas.git
[submodule "geofabric/rasty"]
	path = geofabric/rasty
	url = git@github.com:seelabutk/rasty.git
[submodule "geofabric/rkcommon"]
	path = geofabric/rkcommon
	url = git@github.com:ospray/rkcommon.git
[submodule "geofabric/pistache"]
	path = geofabric/pistache
	url = git@github.com:pistacheio/pistache.git
